.links {
  flex-direction: row-reverse;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter {
  display: flex;
  gap: 30px;
}

.filter-group {
  display: flex;
  gap: 5px;
}

.game-item {
  padding: 15px;
  border: 1px solid black;
}

.game-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-item__header h4 a {
  text-decoration: none;
  color: black;
}

.game-item__header h4 span a {
  color: gray;
  font-size: 15px;
  text-decoration: none;
}

.game-item__body {
  display: flex;
  gap: 15px;
}

.game-item__body img{
  width: 200px;
  height: 200px;
}